* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    
}

header {
    display: flex;
    padding: 17px;
    line-height: 24px;
    font-size: 14px;
    height: 48px;
    
}

.gmail, .images .apps .account {
    margin-left: auto;
    font-size: 14px;
}

.account {
    margin-right: 10px;
    cursor: pointer;
}

.apps {
    height: 16px;
    width: 16px;
    margin-right: 25px;
    margin-left: 30px;
    cursor: pointer;
}
.gmail a {
    padding-left: 12px;
    color: rgba(0,0,0,0.87);

}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    margin-left: -17px;
    justify-content: center;
}

.logo {
    object-position: center bottom;
    width: auto;
    margin-top: 13px;
    margin-bottom: 30px;
    text-align: center;
    
}

.form-search > input {
    height: 2.31rem;
    border: none;
    outline: none;
    width: 31.375rem;
    margin-top: 3.5px;
    font-size: 16px;
}

.form-search:hover {
    box-shadow:  0 1px 6px rgb(32 33 36 / 28%);
}

/* border */
.form-search {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 45px;
    width: 36.5rem;
    display: flex;
    margin-top: -5px;
    
}

.btns {
    margin-left: 150px;
}

.btns > input {
    margin: 32px 4px;
    padding: 0 16px;
    border-radius: 4px;
    height: 36px;
    text-align: center;
    border: none;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    cursor: pointer;
    font-size: 14px;
}

.btns > input:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}


#mic {
    height: 1rem;
    width: .8rem;
    margin-top: 12px;
    margin-left: 13px;
    margin-right: 15px;
    cursor: pointer;
}

#search-icon {
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 13px;
}

.google-pt {
    text-align: center;
    font-size: small;
    display: block;
    line-height: 28px;
    margin-bottom: 24px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.brazil, .infos {
    background-color: #F2F2F2;
    font-size: 15px;
    color: rgba(0,0,0,.54);

}


.brazil {
    border-bottom: 1px solid #dadce0;
    padding: 15px 0 15px 30px;
}

.infos {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 20px;
}

.infos a {
    color: rgba(0,0,0,.54);
    padding-left: 15px;
}

/* not working */
.right-side {
    box-sizing: border-box;
    padding-right: 35px;

}



